html, body, #contents {	min-height: 100%;	width: 100%;	height: 100%;}

<style type="text/css">A:link {text-decoration: none; color: #FFFFFF;}A:visited {text-decoration: none; color: #FFFFFF;}A:active {text-decoration: none}A:hover {text-decoration: none; color: #0640E4;}</style>/* * The "height" above is a hack for IE5+/Win.  Below we adjust * it using the child selector to hide from IE5+/Win */html>body, html>body #contents {	height: auto;}/* * Without this, Moz1.0 adds a vertical scrollbar */body {
	color: #FFFFFF;
	background: url(img/bkd.gif) repeat;	margin: 0;	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; FONT-SIZE: 15px}

a {
background:transparent none repeat scroll 0 0;
color:#FFFFFF;;
text-decoration:none;
}
a:active {
color:#FFFFFF;
}a:hover {
color:#0640E4;
}
#contents {	position: absolute;	top: 0;
	left: 0;/*  Use the following to center this at 50% width, or this for 750px: width: 700px, margin-left: -350px: *//*	left: 50%;    width: 50%;    margin-left: -25%;*/}#footer {	position: absolute;	bottom: 0;
	background: #6B6A65 url(img/lowerlogo.png) no-repeat right;
	font-family: Arial, sans-serif;
	font-size: 70%;
	color: #FFFFFF;
	border-top: 1px solid #FFFFFF;	width: 50%; /* See note below */	text-align: left;
	line-height: 1.2em;
	padding: 1.2em 0em 1.2em 0em;}

#footer a:link {     color: #FFFFFF;     text-decoration: underline;     }

#footer a:hover {     color: #FFFFFF;     text-decoration: underline;     }

	/* styles for IE 5 Mac */	#centerwrap {		width:650px;		height:200px;		margin:0px auto;		position:relative;	}
		/* commented backslash hack  - invisible to IE 5 \*/	#centerwrap {		position:absolute;		margin:-110px 0 0 -270px;		left:50%;		top:50%;	}	/* end hack *//* SBMH -- see http://css-discuss.incutio.com/?page=BoxModelHack  * Stupid hack lets IE see 100%, others see 70%.  */#footer {    \width: 100%;    w\idth: 100%;}#main {	margin-bottom: 0em;	height: auto;	padding: 0em;}